@*
   
*@
@{
	@model User;

}

@using (Html.BeginForm("Create", "User", FormMethod.Post))
{
    <p>
        <label>Почта</label>
        @Html.TextBoxFor(m => m.Email)
    </p>
    <p>
        <label>Пароль</label>
        @Html.PasswordFor(m => m.Password)
    </p>
    <p>
        <input type="submit" value="Зарегистрироваться" />
    </p>
}

