@{
    @model User

}

@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
    <p>
        <label>Почта</label>
        @Html.TextBoxFor(m => m.Email)
    </p>
    <p>
        <input type="submit" value="Изменить" />
    </p>
}