@*

*@
@{
    @model Product;

}

@using (Html.BeginForm("Create", "Product", FormMethod.Post))
{
    <p>
        @Html.LabelFor(m => m.ProductName)
        @Html.TextBoxFor(m => m.ProductName)
    </p>
    <p>
        @Html.LabelFor(m => m.Url)
        @Html.TextBoxFor(m => m.Url)
    </p>
    <p>
        <input type="submit" value="Созать" />
    </p>
}


