@*

*@
@{
    @model Product;

}

@using (Html.BeginForm("Create", "Product", FormMethod.Post))
{
    <p>
        <label>Название товара</label>
        @Html.TextBoxFor(m => m.ProductName)
    </p>
    <p>
        <label>Ссылка на первую страницу с отзывами</label>
        @Html.TextBoxFor(m => m.Url)
    </p>
    <p>
        <input type="submit" value="Добавить" />
    </p>
}


